.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #364b6e;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #131917;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

h1{
  display: inline-block;
  cursor: pointer;
  text-decoration: dashed;
  border: 3px solid lightblue;
  color: white;
  padding: 4%;
  border-radius: 0.75rem;
  position: relative;
  isolation: isolate;  
}
h1::after{
  content: '';
  position: absolute;
  z-index: -1;
  background-color: rgba(165, 215, 215, 0.564);
  inset: 0;
  scale: .5 1;
  transition: scale 450ms;
  transform-origin: right;

}
h1:hover::after,
h1:focus-visible::after{
  transform-origin: left;
  scale: 1 1;
}
